ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
}
ul li a {
    display: block;
    padding-left: 10px;
    text-decoration: none;
    background-color: teal;
    color: white;
    border-bottom: 2px solid;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
ul li a:hover {
    background-color: goldenrod;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} 