* {
    padding: 0px;
    margin: 0px;
}

p {
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    
}
.container {
    background-color: blueviolet;
    width: 250px;
    height: 800px;
    margin: auto;
    padding: 20px;
}
