.kotak1 {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: auto;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.kotak2 {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: auto;
    border-radius: 100%;
}